@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.spin-reverse {
  animation: spin-reverse 15s infinite linear;
}

.spin {
  animation: spin 15s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.list::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #566b30;
  margin-right: 5px;
  border-radius: 50%;
  display: inline-block;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    border-radius: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #eef2f8;
    display: none;
    border-radius: 12px;
  }
  
  ::-webkit-scrollbar-track:hover {
    display: block;
    border-radius: 12px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    display: none;
    border-radius: 12px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #566b30;
    border-radius: 12px;
    display: block;
  }